* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--royal-purple);
}
:root {
  --ash-gray: #b7ceceff;
  --dark-purple: #200116ff;
  --royal-purple: #7d5ba6ff;
  --dark-slate-gray: #0b5351ff;
  --sea-green: #388659ff;
  --auburn: #a22522ff;
}

.heading-container {
  margin-bottom: 2em;
}

.heading {
  text-align: center;
  background: var(--dark-purple);
  color: var(--ash-gray);
  padding: 0.25em;
}

.stickman-container {
  position: relative;
}

.body-parts {
  width: 12.5em;
  height: 12.5em;
  display: inline-block;
  position: relative;
  background: #b76b91;
  border-radius: 2em;
  box-shadow: 4px 4px 2px var(--auburn);
  padding-top: 1.5em;
  left: 50%;
  animation: center 6s linear;
  animation-fill-mode: forwards;
}

@keyframes center {
  0% {
    transform: translate(-50vw);
  }
  50% {
    transform: translate(-50%);
  }
  100% {
    transform: translate(-50%);
  }
}

.body-parts > * {
  display: inline-block;
  position: absolute;
}
.head {
  width: 2em;
  height: 2em;
  background: rgb(4, 5, 4);
  z-index: 1;
  border-radius: 50%;
  animation: head 6s ease-out;
  animation-fill-mode: forwards;
}

@keyframes head {
  50% {
    transform: translate(5.25em);
  }
  100% {
    transform: translate(5.25em);
  }
}

.body {
  width: 0.6em;
  height: 4em;
  background: rgb(4, 5, 4);
  animation: body 6s ease-out;
  animation-fill-mode: forwards;
}

@keyframes body {
  50% {
    transform: translate(5.95em, 1.9em);
  }
  100% {
    transform: translate(5.95em, 1.9em);
  }
}

.circle {
  width: 6em;
  height: 6em;
  /* background: yellow; */
  z-index: -1;
  border-radius: 50%;
  position: relative;
  animation: right-arm 6s ease-out;
  animation-fill-mode: forwards;
}

.right-arm {
  width: 0.35em;
  height: 3em;
  background: rgb(4, 5, 4);
  position: absolute;
  bottom: 50%;
  left: 50%;
}

@keyframes right-arm {
  50% {
    transform: translate(3.5em) rotate(90deg);
  }
  60% {
    transform: translate(3.5em) rotate(45deg);
  }
  70% {
    transform: translate(3.5em) rotate(135deg);
  }
  80% {
    transform: translate(3.5em) rotate(45deg);
  }
  90% {
    transform: translate(3.5em) rotate(135deg);
  }
  100% {
    transform: translate(3.5em) rotate(90deg);
  }
}

.left-arm {
  width: 0.35em;
  height: 3em;
  background: rgb(4, 5, 4);
  animation: left-arm 6s ease-out;
  animation-fill-mode: forwards;
}

@keyframes left-arm {
  50% {
    transform: translate(-1.7em, 1.7em) rotate(-90deg);
  }
  100% {
    transform: translate(-1.7em, 1.7em) rotate(-90deg);
  }
}

.right-leg {
  width: 0.4em;
  height: 3em;
  background: rgb(4, 5, 4);

  animation: right-leg 6s ease-out;
  animation-fill-mode: forwards;
}

@keyframes right-leg {
  50% {
    transform: translate(0.72em, 5.85em) skew(20deg);
  }
  100% {
    transform: translate(0.72em, 5.85em) skew(20deg);
  }
}

.left-leg {
  width: 0.4em;
  height: 3em;
  background: rgb(4, 5, 4);
  animation: left-leg 6s ease-out;
  animation-fill-mode: forwards;
}

@keyframes left-leg {
  50% {
    transform: translate(-0.59em, 5.85em) skew(-20deg);
  }
  100% {
    transform: translate(-0.59em, 5.85em) skew(-20deg);
  }
}

.hello-text {
  font-size: 1.5em;
  padding: 0.5em;
  background: white;
  border-radius: 0.5em;
  box-shadow: 3px 3px 5px black;
  display: inline-block;
  animation: text 6s linear;
  animation-fill-mode: forwards;
  position: absolute;
  top: 5%;
  left: 59%;
}

@keyframes text {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 0;
    transform: scale(0);
    transform-origin: top left;
  }

  60% {
    opacity: 0;
  }

  75% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media screen and (max-width: 40.94rem) {
  .stickman-container {
    font-size: 0.8em;
  }

  .hello-text {
    left: 70%;
  }
}

@media screen and (min-width: 40.94rem) and (max-width: 81.25rem) {
  .stickman-container {
    font-size: 0.9em;
  }

  .hello-text {
    left: 65%;
  }
}
